.nav {
  position: fixed;
  left: 58px;
  top: 34px;
  width: 89vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20;

  &__logo {
    font-family: $font-fam-ter;
    font-size: $font-smaller;

    &--dark {
      color: $color-dark;
    }
    &--light {
      color: $color-white;
    }
  }
}
