.header {
  width: 97vw;
  height: 98vh;
  margin: 0 auto;
  background: linear-gradient(0deg, #08d9d6 0%, rgba(40, 40, 40, 0) 100%);
  position: relative;
  padding-left: 4rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
  }

  &__heading {
    font-family: $font-fam-pri;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 39px;
    letter-spacing: 0.02em;
    z-index: 5;
    color: $color-white;
    width: 74%;
  }
  &__quote {
    font-family: $font-fam-sec;
    font-size: 18px;
    line-height: 23px;
    top: 90%;
    right: 0%;
    position: absolute;
    width: 8em;
    border-bottom: 3px solid $color-primary-neon;

    text-transform: lowercase;

    color: $color-primary-neon;

    transform: rotate(90deg);
  }
}

.work {
  margin-top: 2.5rem;

  &__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
  }

  &__timeline {
    width: 20%;
    padding-left: 5.7rem;
    color: $color-white;

    &--no {
      font-family: $font-fam-sec;
      font-size: $font-big;
      line-height: 109.3%;
      letter-spacing: 0.3em;
    }
    &--intro {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 109.3%;
      /* or 15px */

      letter-spacing: 0.3em;
      text-transform: uppercase;
    }
  }

  &__image {
    width: 50%;
    height: 100%;
    position: relative;
    background-image: url("./img/NorwaDeskTop.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 0px 0px 25px;

    &--imgMob {
      position: absolute;
      width: 333px;
      height: 514px;
      z-index: 2;
      left: -135px;
      top: 122px;
      border-radius: 25px;
    }
  }

  &__desc {
    margin-top: 4.5rem;
    color: $color-white;

    &--header {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: $font-meduim;
      line-height: 67px;
      text-align: center;
      letter-spacing: 0.15em;
    }

    &--content {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 180%;

      text-align: center;
      width: 36%;
      margin: 0 auto;
      margin-top: 2rem;
      margin-bottom: 8rem;
    }

    &--cards {
      margin-top: 4rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 89vw;
      justify-content: space-between;
      margin: 0 auto;
    }

    &--card {
      width: 360px;
      min-height: 474px;
    }

    &--btn {
      width: 200px;
      margin: 0 auto;
      position: relative;
    }
  }
}

.card {
  position: relative;
  &__heading {
    font-family: $font-fam-pri;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: -107px;
    z-index: -1;
    position: absolute;
    width: inherit;

    &--glow {
      width: 80%;
      /* margin: 0 auto; */
      height: 8px;
      background-color: transparent;
      position: absolute;
      top: 75px;
      left: 29px;
      box-shadow: 0px 4px 25px #08d9d6;
      z-index: -1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85%;
    background-color: $color-primary-darkest;
    margin-top: 19%;

    &--text {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      /* or 32px */

      text-align: center;
      width: 75%;
    }

    &--icon {
      width: 30%;
      height: max-content;
    }
  }
}

.aboutWork {
  color: $color-white;
  margin-top: 8rem;

  &__header {
    position: relative;
    width: max-content;
    margin: 0 auto;

    &--heading {
      font-family: $font-fam-sec;
      font-size: $font-big;
      line-height: 109.3%;
      letter-spacing: 0.15em;
    }
    &--shadow {
      position: absolute;
      width: 281.63px;
      height: 46px;
      z-index: -1;
      bottom: -1px;
      right: -84px;
      background-color: $color-primary-neon;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89vw;
    margin: 0 auto;
    margin-top: 4rem;
  }

  &__content {
    width: 40%;
    &--heading {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: $font-meduim;
      line-height: 66px;
      text-transform: capitalize;
    }
    &--text {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
  }
  &__img {
    margin-top: 4rem;
    margin-left: 13rem;
  }
}

.qn {
  margin-top: 8rem;
  width: 100vw;
  min-height: 202.1rem;
  padding: 12.4rem 7rem;
  background-image: url("./img/qn.png");

  &__featured {
    width: 100%;
    height: 1800px;
    background-color: rgba(23, 23, 23, 0.87);
    padding: 10.2rem 9rem;
  }
}

.featured {
  &__header {
    margin-bottom: 4rem;
    &--heading {
      font-family: $font-fam-sec;
      font-size: $font-big;
      line-height: 109.3%;
      letter-spacing: 0.15em;
      color: $color-white;
      text-align: center;
    }
  }

  &__content {
    color: $color-white;
    width: 100%;

    &--header {
      width: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $color-white;
    }
    &--heading {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: $font-meduim;
      line-height: 66px;
      text-transform: capitalize;
    }

    &--body {
      padding-left: 30em;
    }

    &--btn {
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &--text {
      font-family: $font-fam-pri;
      font-style: normal;
      font-weight: normal;
      font-size: $font-smallest;
    }
  }
}
